<!DOCTYPE html>
<html>
<head>
	<title>ITSC APPs</title>	

</head>
<body>

    <form method="post" action="/print/itsc_ofi_1" enctype="multipart/form-data">
        <input type="file" name="printer_pdf_file" required/> file
        <input type="text" name="printer" > printer
        <button type="submit">Enviar</button>
    </form>
</body>
</html>